body {
background-image : url("images/patternbackground.png");
}
header {
margin : auto;
}
header h2 {
text-align : center;
}

header ul {
	display : flex;
	flex-direction : row ;
	justify-content : center;
	justify-content : space-around ; 
}

header ul li {
text-align : center;
font-style : bold ; 
font-size : 150%;
list-style-type : none;
}

header img {
height : 250px;
width : 250px;
display : block;
margin-left : auto;
margin-right : auto;
margin-bottom : auto;
margin-top : auto;
text-align : center;
}
footer {
margin : 0 2rem;
border-top : 0.3rem solid blue;
text-align : center;
}
footer ul li {
margin : 0.3rem 0.6rem 0.4rem 0;
padding : 0 0 0 0.6rem;
display : inline-block;
list-style : none;
}
footer ul li:not(:first-of-type) {
border-left : 1px solid black;
}
↑ HAUT

